html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#renderCanvas {
    width: 75%;
    height: 100%;
    touch-action: none;
}
#sidebar {
    float:right;
    height:100%;
    width:22%;
    overflow:hidden;
}
#sidebar img {width:100%}